*{
padding: 0;
font-family: century;
box-sizing: border-box;
}

header{
	background-image: url(img/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
		
.logo a {
	color: #fff;
	padding: 0px 20px;
	border: 1px solid #fff;
	position: absolute;
	top: 20px;
	left: 20px;
 	text-decoration: none;
 	font-size: 2rem;
 	text-shadow: (0 ,0 ,0 ,0.7);
}	
.logo span {	
	color: orange;
	font-weight: bold;
	font-weight: 5rem;
}

ul {
	list-style-type: none;
	float: right;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
	
ul li a{
	text-decoration: none;
	color: white;
 	padding: 10px 20px ;
 	text-transform: uppercase;
 	border:  1px solid transparent;
 	margin: 10px;
 	font-weight: 500px;
 	transition: 0.3s ease;

 }
ul li a:hover{
	background-color: orange;
}
ul li.active a{
	background: orange;	
	color: white;
}
.principale{
	max-width:114rem; 
	margin:0 auto;
}
.titre{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.titre h1{
	color: orange;
	font-size: 50px;
}
.titre button{
	font-size: 20px;
	border-radius: 2px;
}
.bouton{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.bouton a {
	color: #fff;
	text-decoration: none;
	border:1px solid #fff;
	border-radius: 10px;
	padding: 10px 20px;
}
.btn{
	transition: 0.6s ease;
}
.btn:hover{
		background-color:orange;
}